*{
	list-style:none ;
}
.main-content-inner{
	overflow-x: hidden;
}
.bu-new li{
	margin: 15px 0 15px 0;
}
.introduction{
	position: absolute;
	top:100px;
	left: 40px;
}
.textarea{
	position: relative; 
	width:200px;
	height:31px;
	padding-top:2px;
	font-size:14px;
	margin-left: 39px;
}
.table>tbody>tr>td{
	border-top: none;
}
	.pu-table tr input{
	width: 200px;
	}
	.pu-table tr select{
		width: 200px
	}
.breadcrumb>li+li:before {
    display: none;
}