*{
	list-style: none;
}
.main-content-inner{
	overflow-x: hidden;
}
.na-fir{
	display: inline-block;
	

}
.turn{
	width: 80px;
	height: 30px;
	line-height: 30px;
	color: rgba(16, 16, 16, 1);
	font-size: 14px;
	text-align: center;
	font-family: Microsoft Yahei;
	/*border: 1px solid rgba(187, 187, 187, 1);*/
	float: right;
	font-size: 24px;
}
.p-box{
	width: 79px;
	height: 79px;
	/*background-color: rgba(16, 16, 16, 1);*/
	border: 1px solid black;
	display: inline-block;
	font-size: 40px;
	text-align: center; 
}
.p-box-big{
	width: 142px;
	height: 142px;
	border: 1px solid black;
	display: inline-block;
	font-size: 40px;
	text-align: center; 
}
.sort{
	display: inline-block;
	width: 56px;
	height: 30px;
	line-height: 28px;
	background-color: rgba(187, 187, 187, 1);
	color: rgba(102, 102, 102, 1);
	font-size: 14px;
	text-align: center;
	font-family: Roboto;
	border: 1px solid rgba(187, 187, 187, 1);
}
.sort-onbackground{
	display: inline-block;
	width: 56px;
	height: 30px;
	line-height: 28px;
	color: rgba(102, 102, 102, 1);
	font-size: 14px;
	text-align: center;
	font-family: Roboto;
	border: 1px solid rgba(187, 187, 187, 1);
}
.hidden{
	visibility: hidden;
}
.table>tbody>tr>td{
	border-top: none;
}
.center ul li{
	float: left;
}
.border{
	border: 1px solid #555 ;
	margin-bottom: 38px;
	width: 100%;
	display: block;

}
.save{
	position: absolute;
	top: 5px;
	right: 50px;
	width: 90px;
	height: 30px;
	line-height: 27px;
	border-radius: 4px;
	color: rgba(16, 16, 16, 1);
	font-size: 14px;
	text-align: center;
	font-family: Microsoft Yahei;
	border: 1px solid rgba(187, 187, 187, 1);
	cursor: pointer;
}
.save a{
	outline: none;
	text-decoration: none;
}
.breadcrumb>li+li:before{
	display: none;
}
.turn a{
	text-decoration: none;
	outline: none;
	font-size: 13px;
	color: #555;
}
input[type=file]{
	/*font-size: 12px;
	text-align: center;
	margin: 0 auto;
	line-height: 142px;*/
	display: inline-block;
}
/*.image_container{
	position: absolute;
	top: 0;
	left: 0;
}*/
.breadcrumbs {
	margin-bottom: 20px;
}

.breadcrumb li a {
	color: #555;
	text-decoration: none;
	outline: none;
}
.page-header{
	padding-top:0; 
}
.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.fileinput-button input{
     position:absolute;
     right: 0px;
     top: 0px;
     opacity: 0;
     -ms-filter: 'alpha(opacity=0)';
     font-size: 200px;
}
/*==================开始活动====*/
.select-ac{
	width: 200px;
}
input[type=checkbox]{
	margin:0 5px 0 20px; 
}
/*=============活动详情=======*/
.news-group{
	position: absolute;
	top: 15px;
	left: 150px;
}
.news-group a{
	text-decoration: none;
	outline: none;
}
.na-fir {
	color: #555;
	font-size: 14px;
}
.na-fir a{
	text-decoration: none;
	outline: none;
	color: #555;
	font-size: 13px;
}